# Application Port
PORT=3000

# Application Environment (development, production, test)
NODE_ENV=development

# CORS Configuration (allowed origin)
CORS_ORIGIN=*

# Rate Limiter Configurations
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
